.container{
  background-color: rgb(248, 240, 240);
}

.row{
  display: flex;
  flex-flow: wrap;
}

.col-left{
  width: 33%;
  background-color: #1d2120;
  overflow-y: scroll;
}

.box-group{
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.col-right{
  width: 66%;
}

.p-1{
  padding: 0.25rem;
}